@import "core/settings";

body {
  background: $color-background;
  margin: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-content: center;
  &__main {
    width: 80%;
    height: 70%;
    background: $color-white;
  }

  //Modal
  &__modal {
    position: absolute;
    //width: 100%;
    height: 70%;
    background: rgba(255, 255, 255, 0.5);
    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // CARD

  &__card {
    &_header {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &_footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Display
.hidden {
  display: none;
}
