<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap" rel="stylesheet">
  <title>To Do List</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    <div class="page__main">
      <!-- MODAL -->
      <div class="page__modal js-modal hidden">
        <button class="page__modal_cancel">Cerrar</button>
        <div class="page__modal_content">
          <label for="newtask">Añadir tarea</label>
          <input type="text" name="newtask" class="page__modal_content_input js-newtask" />
          <button class="page__modal_btn-close js-btn-closemodal">Añadir</button>
        </div>
      </div>
      <!---->
      <header class="page__card_header">
        <img src="./assets/icons/favicon.png" alt="logotipo Adalab" class="page__card_header_img" />
        <div class="page__card_header_date-wrapper js-date">
        </div>
      </header>
      <main class="page__card_list js-list-wrapper">

      </main>
      <footer class="page__card_footer">
        <button class="page__card_footer_btn-newtask js-btn-newtask">+</button>
      </footer>
    </div>
  </div>
</body>
<script src="./assets/js/main.js"></script>

</html>
<!-- <partial
          src="_header.html" label="Header"></partial>
        <partial src="_main.html" label="Main"></partial>
        <partial src="_link.html" aClass="link__adalab" text="Adalab" url="https://adalab.es"></partial>
        <partial src="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial> -->